#title {
    text-align: center;
    margin: 10px;
}

#loadIcon {
    margin: auto;
    display: block;
}

#searchBar {
    display: inline;
    width: 50%;
    margin-bottom: 10px;
}

#topForm {
    margin: auto;
    display: block;
    width: 50%;
}

body{
    min-width: 550px;
}
.store-btn {
    width: 100px;
}
.store-adr {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.btn:not(:disabled):not(.disabled) {
    cursor: default;
}

